{
  "parser": "babel-eslint",
  "rules": {
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "class-methods-use-this": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "yoda": ["error", "always", { "onlyEquality": true }],
    "no-underscore-dangle": 0,
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "prefer-promise-reject-errors": [0],
    "no-multiple-empty-lines": ["error", {"max": 1}]
  },
  "extends": "airbnb",
  "globals": {
    "window": true,
    "document": true,
    "FileReader": true
  }
}
